компьютерные языки разметки лабы/лаба 12/z3/z3.xml

<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type="text/css" href="C:\Users\Матвей\Desktop\Лаборато рные работы\компьютерные языки разметки лабы\лаба 12\z1\style.css"?>
<xs:schema xmlns:xs ="http://www.w3.org/2001/XMLSchema">
<xs:element name="body">
<xs:complexType>
<xs:sequence>
<xs:element name="header" type="xs:string"/>
<xs:element name="text" type="xs:string"/>
<xs:element name="artist" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<body>
<header>Breakcore</header>
    <text> Брейккор — стиль экстремальной электронной музыки, объединяющий в себе элементы драм-н-бейса, хардкор-техно и IDM в ориентируемый на брейкбит-звук, скоростной, сложный, максимально плотный.</text>
    <artist>sewerslvt GnB Chili Partner coub</artist>
</body>